.container{
    max-width: 750px;
    margin: 0 auto; /*центрирование*/

}

.content{
    display: flex;
    flex-wrap: wrap;
}

/*.block{*/
/*    height: 100px;*/
/*    width: 50px;*/
/*    border: 1px solid #000;*/
/*    !*flex-grow: 1;*!*/
/*}*/

/*.block-1{*/
/*    flex-grow: 1;*/
/*    order: 2;*/
/*}*/

/*.block-2{*/
/*    order: 3;*/
/*}*/

.text{
    flex-grow: 1;
    flex-basis: 200px; /*минимальная ширина блока*/
    border: 1px solid #000;
}